.App {
  text-align: center;
}


:root {
  --background: #ffffff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #ffffff;
}

[data-theme='dark'] {
  --background: #000000;
  --text-primary: #fff;
  --button-bg: #fff;
  --button-text: #000;
}


.tab-item{
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #4e016a;
}

.tab-item.active{
  border-color: #000;
  background-color: #a1d600;
  color: #fff;
}